@import "colors";

blockquote {
  border-left: 6px solid black;
  margin: 24px 0;
  padding-left: 18px;
}

ul {
  padding-left: 28px;
  list-style: disc outside;

  li {
    margin-bottom: 10px;
    padding-left: 10px;
  }
}

ul ol,
ul ul,
ol ul,
ul ol {
  margin: 12px;

  li {
    margin-bottom: 6px;
  }
}

hr {
  margin: 4rem 0;
  width: 100%;
  height: 1rem;
  border: 0;
  background-color: $gray-dark;
}

.code-block {
  background-color: #F4F4F4;
  padding: 12px;

  white-space: pre-wrap;

  .code-text {
    font-weight: 200;
  }
}

// Talk-specific styles

.message {
  margin-bottom: 24px;

  * {
    font-size: 18px;
    line-height: 30px;
  }
}

.message-title {
  display: flex;
}

.message-stamp {
  font-size: 9px;
  line-height: 18px;

  margin-left: 18px;

  position: relative;
  top: 8px;
}

.message-body {
  p {
    margin: 0;
  }
}

.urbit-logo {
  width: 72px;
  height: 72px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;

  border: 5px solid white;
  background-color: transparent;

  &:before {
    content: "~";
    color: #FFFFFF;
    font-size: 72px;
    vertical-align: middle;
    line-height: 54px;
    text-align: center;
    width: 2rem;
    display: inline-block;

    font-family: "Work Sans";
    font-weight: 600;

    margin-right: 30px;
    margin-top: 3px;
  }
}

.urbit-logo-solid {
  border-color: black;

  &:before {
    color: black;
  }
}
