// Talk-specific styles

.message {
  margin-bottom: 24px;

  * {
    font-size: 18px;
    line-height: 30px;
  }
}

.message-title {
  display: flex;
}

.message-stamp {
  font-size: 9px;
  line-height: 18px;

  margin-left: 18px;

  position: relative;
  top: 8px;
}

.message-body {
  p {
    margin: 0;
  }
}
